
    
<div class="banner-inquiry-show">
  <div class="banner-container offers" style="color: white;">
    <h2>Welcome, <%=current_user.full_name%> (<%=current_user.business_name%>) &#128188;</h2>
    <h4>These are the applications for your open positions</h4>
  </div>
</div>
<div class="job-offers-container">
  <div class="job-offers">
    <% @job_offers.each do |inquiry| %>
    <div class="courses-container">
      <div class="course">
        <div class="course-preview">
          <h6>Applicant</h6>
          <h2><%= inquiry.user.full_name %></h2>
          <%= link_to user_path(inquiry.user) do%>View Profile<i class="fas fa-chevron-right"></i><%end%>
        </div>
        <div class="course-info">
          <div class="progress-container">
            <span class="progress-text">
              <%= inquiry.created_at %>
            </span>
          </div>
          <h6>Job Title</h6>
          <h2><%= inquiry.offer.title %></h2>
          <span class="progress-text inquiry-status">application status: <%= inquiry.status %></span>
          <%= link_to offer_inquiry_path(inquiry.offer, inquiry), class: "btn inquiry" do %>Details<%end%>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
