<div class="wrapper-profile">
  <div class="profile-page-container">
    <div class="card">
      <div class="profile-page-first">
        <div class="profile-page-avatar">
          <img src="https://images.unsplash.com/photo-1589329482108-e414c7c6b8c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" class="profile-pic" >
        </div>

        <div class="profile-page-info">
          <ul>
          <li> <h1><%= @user.full_name %></h1></li>
          <li> <p><i><%= @user.email %></li>
          <li> from </i><%= @user.location %></li>
          <li> <%= @user.phone_number %></li>
          <li> <i>hourly rate</i> <%= @user.hourly_rate %>€/h</li>
          <li> <%= @user.business_name %></li>
          <li> <%= @user.business_address %></p></li>

          </ul>
        </div>
      </div>
    </div>
      <div class="profile-page-actions">
        <hr width="120 px" color="blue">
        <div class="profile-page-button">
          <%= link_to user_path, class: "btn nav-item btn-primary" do %>
              Edit Profile
            <% end %>
        </div>
        <div class="profile-page-button">
          <%= link_to user_path, class: "btn nav-item btn-success" do %>
              Upload Resume
            <% end %>
        </div>
        <hr width="120 px" color="blue">
      </div>
    <div class="card" style="margin-bottom: 20px;">
      <div class="profile-page-perks">
        <div class="perk-1"><i class="fas fa-certificate"></i></div>
        <div class="perk-2"><i class="fas fa-certificate"></i></div>
        <div class="perk-3"><i class="fas fa-certificate"></i></div>
      </div>
    </div>
    <div class="card">
      <div class="profile-page-about">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse molestie odio nisl, sed rhoncus turpis dignissim at. Donec sit amet sollicitudin orci. In hac habitasse platea dictumst. Curabitur iaculis nisi eu mauris vestibulum, a commodo nibh rutrum. Nulla in mattis nunc. Praesent tincidunt risus id finibus viverra. Ut et tortor ut mauris ornare suscipit. Praesent ut lacinia orci, ut sollicitudin velit. Phasellus a purus sed mauris scelerisque porta. Nunc in tempor elit.<br><br> Proin a dapibus nibh.
          Maecenas gravida justo sem, ut mattis nunc condimentum ut. Etiam vel libero ut lorem egestas scelerisque sed quis neque. Quisque sem neque, placerat in vestibulum eget, ultricies vitae velit. Vestibulum ut interdum dolor, eget interdum sapien. Morbi nec lorem ante. Vivamus egestas, odio non porttitor sodales, justo elit varius purus, ac mattis dui tellus id arcu. Nunc eleifend mattis metus sed ultricies. Nunc hendrerit vel dolor ut varius. Pellentesque dictum, nulla non condimentum ultrices, sapien est blandit quam, at congue tellus massa a tortor. Vivamus pretium imperdiet sem eu vulputate. In hac habitasse platea dictumst.
        </p>
      </div>
    </div>
    </div>
  </div>
</div>
