<div class="index-wrapper">
  <div class="offers-index-container">
    <div class="offers-index-search">
      <div class="offers-index-searchbarbut">
      
    <%= form_tag offers_path, method: :get, id: "search" do %>
    <%= submit_tag "Search", class: "offer-button-search btn btn-outline-success", style: "border-radius: 23px;" %>
    <%= text_field_tag :search_by_title_and_location,
    params[:search_by_title_and_location],
    class: "form-control",
      placeholder: "Find an offer"
      %>
    <% end %>
      </div>
      <div class="row">
        <div class="offers-index-dropdowns">
        </div>
      </div>
    </div>
    <div class="offers-index-offers">

      <% @offers.each do |offer| %>
      <div class="offers-index-offer card">
        <div class="offers-index-offer-head">
          <div class="offers-index-avatar">
            <img src="https://images.unsplash.com/photo-1589329482108-e414c7c6b8c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" class="company-pic" >
          </div>
          <div class="offers-index-offer-name">
            <h4><%= link_to offer_path(offer) do %>
        <%= offer.title %>
        <% end %></h4>
          </div>
        </div>
        <hr width="100%" color="gray">
        <div class="offers-index-offer-description">
          <%= offer.description %>
        </div>
        <div class="offers-index-offer-actions">
           <%= link_to new_offer_inquiry_path(offer) do %>
           <button name="button" type="submit" class="btn-offer btn1 btn btn-success"><i class="fab fa-telegram-plane"></i> Apply</button>
           <% end %>
            <button name="button" type="submit" class="btn-offer btn btn-success"><i class="far fa-bookmark"></i> Save</button>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
