<div class="wrapper offers">
  <strong><h1 style="text-align: center; color: white;">Open Positions</h1></strong>
<div class="container offer">
  <div class="offers-index-search">
    <div class="offers-index-searchbarbut">

      

  
  <div class="row">
  <div class="col-sm-6">
    <div class="card" id="hoola">
      
      <%= form_tag offers_path, method: :get, id: "search" do %>
      <%= submit_tag "Search", class: "offer-button-search btn btn-outline-success", style: "border-radius: 23px;" %>
      <%= text_field_tag :search_by_title_and_location,
    params[:search_by_title_and_location],
    class: "form-control",
      placeholder: "Find an offer"
      %>
      <% end %>
  
    <%= search_form_for @q do |f| %>
<%= f.label :title %>
<%= f.text_field :title_cont, class: 'form-control' %>
<%= f.label :location %>
<%= f.text_field :location_cont, class: 'form-control' %>
<%= f.label :skills_required %>
<%= f.text_field :skills_required_cont, class: 'form-control' %>
<%= f.submit class: 'btn btn-primary' %>
<%= link_to "Clear", request.path, class: "btn btn-default"%>
<% end %>
    </div>
  </div>
</div>
</div>
</div>


  
  <div class="offers index">
    <% @offers.each do |offer| %>
    <div class="card offers mx-auto">
      <div class="row">
        <div class="logo offers ml-3 mb-3"><img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxDRpxI5gXgaVmnO-VgcVUNOkca91jIpS75Flbzkz5W_5g5_V5&usqp=CAU">
        </div>
      </div>
      <div class="card-title">
        <p class="heading" style="color: black;"><%= link_to offer_path(offer) do %>
        <%= offer.title %>
        <% end %></p>
      </div>
      <p class="text-muted"><%=offer.description%></p>
      <div class="offer-details">
       <button type="button" class="btn  btn-sm" style="background: #8B2635; "><%=offer.employment_type%></button>
        <button type="button" class="btn  btn-sm" style="background: #8B2635; ">
        <%if @fixed_price%>Fixed Price<%else%>Per Hour<%end%></button>
        <button type="button" class="btn  btn-sm" style="background: #8B2635;"><%=offer.location%></button>
      </div>
      <div class="row btnsubmit mt-4">
        <div style="padding-top: 1rem; padding-left: 0.4rem;"> <%= link_to new_offer_inquiry_path(offer) do %>
          <button name="button" type="submit" class="btn-offer btn1 btn btn-success"><i
              class="fab fa-telegram-plane"></i>
            Apply</button>
          <% end %></div>
        <div style="padding-top: 1rem; padding-left: 0.4rem;">
          <%= button_to bookmark_path(offer), class: "btn-offer btn-success btn", method: :post, remote: true do %>
          <i class="fa<%= offer.saved ? 's' : 'r' %> fa-bookmark"></i> Save
          <% end %> </div>
      </div>
    </div>



    <% end %>
  </div>
  </div>



