<%if @offer.user == current_user%>
<div class="banner offers" style="background-image: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244));">
  <div class="banner-container offers">
   <h1>Welcome,  <%=current_user.full_name%> &#128188;</h1>
   <div id="banner-logo-seperator"></div>
   <h3>These are the applications for <%= @offer.title%></h3>
 </div>
</div>
<%end%>
<%if @offer.user == current_user%>
<% @offer.inquiries.each do |inquiry|%>
<div class="inquiries-container business">
  <div class="course">
    <div class="course-preview">
      <h6>Applicant</h6>
      <h2><%= inquiry.user.full_name %></h2>
      <a href="/users/<%=inquiry.user.id%>">View user profile <%= inquiry.user.full_name %> <i
        class="fas fa-chevron-right"></i></a>
      </div>
      <div class="course-info">
        <div class="progress-container">
          <span class="progress-text">
            <%= inquiry.created_at %>
          </span>
        </div>
        <h6><%=inquiry.offer.user.business_name%></h6>
        <h2><%= inquiry.offer.title %></h2>
        <span class="progress-text inquiry-status"><strong>application status: <%= inquiry.status %></strong></span>
        <%= link_to offer_inquiry_path(@offer, inquiry) do%><button class="btn inquiry">Application</button><%end%>
      </div>
    </div>
  </div>
  <% end %>
    <%else%>
  <div class="wrapper-offer app-offers-show">
    <div class="app-offers-card">
      <div class="app-offers-card-top">
        <div class="business-logo-info">
           <%= cl_image_tag @offer.user.photo.key, height: 170, width: 170, crop: :scale %>
          <div class="business-info app-offers">
            <ul class="business-info">
              <li><%= @offer.user.business_name %></li>
              <li><%= @offer.user.business_address %></li>
              <li><%= @offer.user.business_size %></li>
              <li><%= @offer.user.website %></li>
              <li><%= @offer.user.linkedin_url %></li>
            </ul>
          </div>
        </div>
        <div class="app-offer-details">
        <div class="card-title">
          <h5 class="heading" style="color: black;"><%= link_to offer_path(@offer) do %>
          <%= @offer.title %>
          <% end %></h5>
        </div>
        <div class="app-offer-perks">
          <button type="button" class="btn  btn-sm" style="background: #8B2635; "><%=@offer.employment_type%></button>
          <button type="button" class="btn  btn-sm" style="background: #8B2635; ">
          <%if @fixed_price%>Fixed Price<%else%>Per Hour<%end%></button>
          <button type="button" class="btn  btn-sm" style="background: #8B2635;"><%=@offer.location%></button>
        </div>
        <p class="app-offers-text text-muted"><%=@offer.description%> Lorem ipsum dolor sit amet consectetur adipisicing, elit. Nihil hic nemo at magnam quidem dolore quae magni ullam ipsam unde veritatis ratione, ea cumque veniam, consequatur est, reiciendis doloribus repellendus. Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, laboriosam aliquid, modi maiores quisquam recusandae facilis veniam odio cupiditate beatae ad, quaerat quia dolore praesentium. Quisquam, sit. Ipsa, inventore, nulla.</p>
        </div>
      </div>
      <div class="app-offers-card-bottom">
        <div style="padding-top: 1rem; padding-left: 0.4rem;"> <%= link_to new_offer_inquiry_path(@offer) do %>
          <button name="button" type="submit" class="btn-offer btn1 btn btn-success"><i class="fab fa-telegram-plane"></i>Apply</button>
          <% end %>
        </div>
        <div style="padding-top: 1rem; padding-left: 0.4rem;">
          <%= button_to bookmark_path(@offer), class: "btn-offer btn-success btn", method: :post, remote: true do %>
          <i class="fa<%= @offer.saved ? 's' : 'r' %> fa-bookmark"></i> Save
          <% end %> </div>
              </div>



          <div id="map"
     style="width: 100%; height: 350px;"
     data-markers="<%= @marker.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
      </div>

    <div class="app-reviews-card">
      <h4 style="text-align: center; margin: 2rem 0 1rem 0;">Reviews</h4>
      <div class="review-container">
        <div class="app-reviews-card-top">
          <div class="avatar-review-info">
            <img class="avatar-app-reviews" src="https://i.pinimg.com/originals/70/71/37/70713776d26d0a7102ccd8c5d9213944.jpg">
            <div class="business-info app-offers">
              <ul class="business-info">
                <li> FullStack Developer </li>
                <li> Cohag, USA </li>
                <li> 1k/ h </li>
                <li> peter.griffin@famguy.com </li>
                <li><%= @offer.user.linkedin_url %></li>
              </ul>
            </div>
          </div>
          <div class="app-offer-details">
          <div class="card-title">
            <h5 class="heading" style="color: black;"><%= link_to offer_path(@offer) do %>
            Peter Griffin
            <% end %></h5>
          </div>
          <div class="app-offer-perks">
            <h5><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h5>
          </div>
          <p class="app-reviews-text text-muted"><%=@offer.description%> Lorem ipsum dolor sit amet consectetur adipisicing, elit. Nihil hic nemo at magnam quidem dolore quae magni ullam ipsam unde veritatis ratione, ea cumque veniam, consequatur est, reiciendis doloribus repellendus.</p>
          </div>
        </div>
        <div class="app-reviews-card-top">
          <div class="avatar-review-info">
            <img class="avatar-app-reviews" src="https://i.pinimg.com/originals/6e/51/32/6e5132a90812ad1abf3711135a5cf406.png">
            <div class="business-info app-offers">
              <ul class="business-info">
                <li> FullStack Developer </li>
                <li> Possibly Everywhere, Galaxy </li>
                <li> 1k/ h </li>
                <li> rick.slayer@rnm.com </li>
                <li><%= @offer.user.linkedin_url %></li>
              </ul>
            </div>
          </div>
          <div class="app-offer-details">
          <div class="card-title">
            <h5 class="heading" style="color: black;"><%= link_to offer_path(@offer) do %>
            Rick Sanchez
            <% end %></h5>
          </div>
          <div class="app-offer-perks">
            <h5><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></i></h5>
          </div>
          <p class="app-reviews-text text-muted"><%=@offer.description%> Lorem ipsum dolor sit amet consectetur adipisicing, elit. Nihil hic nemo at magnam quidem dolore quae magni ullam ipsam unde veritatis ratione, ea cumque veniam, consequatur est, reiciendis doloribus repellendus.</p>
          </div>
        </div>
      </div>
    </div>
 </div>
  <% end %>


