<div class="index-wrapper">
  <div class="list-group">
    <div class="page-header"><h2 style="text-shadow: 0px 0px 10px black;">Your job applications</h2></div>
  <% @inquiries.each do |inquiry|%>
  <div class="courses-container">
  <div class="course">
    <div class="course-preview">
      <h6>Company</h6>
      <h2><%= inquiry.offer.user.business_name %></h2>
      <a href="http://127.0.0.1:3000/offers?q%5Btitle_cont%5D=&q%5Buser_business_name_cont%5D=<%= inquiry.offer.user.business_name %>&q%5Blocation_cont%5D=&q%5Bskills_required_cont%5D=&commit=Search">View all offers from <%= inquiry.offer.user.business_name %> <i class="fas fa-chevron-right"></i></a>
    </div>
    <div class="course-info">
      <div class="progress-container">
        <span class="progress-text">
          <%= inquiry.created_at %>
        </span>
      </div>
      <h6>Job Title</h6>
      <h2><%= inquiry.offer.title %></h2>
      <span class="progress-text inquiry-status">application status: <%= inquiry.status %></span>
      <%= link_to offer_inquiry_path(inquiry.offer, inquiry), class: "btn inquiry" do %>Details<%end%>
    </div>
  </div>
</div>
  <% end %>
  </div>
  </div>
</div>
