<div class="wrapper-offer-inquiry">
<div class="wrapper-offer-inquiry">
<div class="banner-inquiry-show">
  <div class="banner-container offers">
    <h2 style="color:white;">Hello, <%=current_user.full_name%> &#128188;</h2>
    <h4 style="color:white;">This is your applications for <%=@inquiry.offer.title%></h4>
  </div>
</div>
<div class="wrapper-inquiry app-offers-show">
    <div class="inq-offer-card">
      <div class="app-offers-card-top">
        <div class="business-logo-info">
           <img src="<%=@inquiry.user.avatar_url%>" class="logo-app-offers">
          <div class="business-info app-offers">
            <ul class="business-info">
              <li><%= @offer.user.business_name %></li>
              <li><%= @offer.user.business_address %></li>
              <li><%= @offer.user.business_size %></li>
              <li><%= @offer.user.website %></li>
              <li><%= @offer.user.linkedin_url %></li>
            </ul>
          </div>
        </div>
        <div class="app-offer-details">
        <div class="card-title">
          <h5 class="heading" style="color: black;"><%= link_to offer_path(@offer) do %>
          <%= @offer.title %>
          <% end %></h5>
        </div>
        <div class="app-offer-perks">
          <button type="button" class="btn  btn-sm" style="background: #8B2635; "><%=@offer.employment_type%></button>
          <button type="button" class="btn  btn-sm" style="background: #8B2635; ">
          <%if @fixed_price%>Fixed Price<%else%>Per Hour<%end%></button>
          <button type="button" class="btn  btn-sm" style="background: #8B2635;"><%=@offer.location%></button>
        </div>
        <p class="app-offers-text text-muted"><%=@inquiry.message%></p>
        </div>
      </div>
      <div class="app-offers-card-bottom">
        <%if @inquiry.chatroom%>
      <%= link_to chatroom_path(@inquiry.chatroom), class: "btn-offer btn-success btn" do %>Go to Chat<%end%>
    <%else%>
     <%= link_to create_chat_offer_inquiry_path(@inquiry.offer, @inquiry), class: "btn-offer btn-success btn" do %>Initiate Chat<%end%>
    <%end%>
    <%if @inquiry.status == "Accepted"%>
      <%= link_to new_offer_inquiry_interview_path(@inquiry.offer, @inquiry), class: "btn-offer btn-dark btn" do %>Schedule Interview<%end%>
    <%end%>
    <%if current_user.user_type == "Business" && @inquiry.status != "Accepted"%>
      <%=link_to change_status_path(@inquiry, accepted: true), class: "btn-offer btn-success btn" do%>Accept Application<%end%>
      <%=link_to change_status_path(@inquiry, accepted: false), class: "btn-offer btn-danger btn" do%>Decline Application<%end%>
    <%end%>
    <%= link_to user_path(@inquiry.user), class: "btn-offer btn-primary btn" do%>User Profile <%end%>
    </div>
      </div>
  </div>
  </div>
